.open {
  display: block;
}

@media screen and (min-width: 375px) {
  .sharefeld {
    position: absolute;
    background: #48556a;
  }
  .sharefeld:after {
    top: 100%;
    left: 32%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(72, 85, 106, 0);
    border-top-color: #48556a;
    border-width: 15px;
    margin-left: -15px;
  }
}
